# mac system file
.DS_Store

# CocoaPods
podfile.lock
Pods/

# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# GPS-Todo.xcworkspace

# Config files
GPS-Todo/GoogleService-Info.plist

# Project
GPS-Todo/AdMob/